.centre
  .save-the-date
    %p.animated.fadeOut
      Save the date

    %p.animated.fadeIn
      Luke & Jodie
      %br
      are getting married on
      %br
      15 July 2017

  .notification.animated.fadeInUp
    %p
      More information coming soon.
