.centre
  %section
    .column-one-whole
      .content

        %h1
          Thank you for letting us know
          = @rsvp.name
          - if @rsvp.attending
            is attending.
          - else
            is not attending.

        %nav.no-padding
          %ul
            %li=link_to "Return another RSVP", new_rsvp_path
            %br
            %li=link_to "Finish", root_path
